@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: local('font/Droid Sans'), local('font/DroidSans');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 700;
    src: local('font/Droid Sans Bold'), local('font/DroidSans-Bold');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
    -webkit-tap-highlight-color: rgba(0, 122, 255, 0.2);
}

html, body, #main, .main-view {
    height: 100%;
}

body {
    font-family: 'Droid Sans', sans-serif;
    background: #efeff4;
}

button {
    outline: 0;
    background: transparent;
}

.main-view {
    box-sizing: border-box;
    padding-top: 15px;
}

.main-view.page-transition-progress-running {
    overflow: hidden;
}

.main-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.main-menu-item {
    display: block;
    width: 50%;
    box-sizing: border-box;
    padding: 0 1px;
    -webkit-flex: 1;
    flex: 1;
}

.main-menu-item:first-child {
    padding-left: 0;
}

.main-menu-item:last-child {
    padding-right: 0;
}

.main-menu-item > a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #f7f7f7;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    position: relative;;
    border: 1px solid #ddd;
}

.main-menu-item > .active:after {
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 10%;
    height: 5px;
    background-color: #007aff;
    content: '';
    display: block;
}

.pages {
    position: relative;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

[class$=page] {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;
    width: 100%;
}

.page-transition-progress-ended [class$=page] {
    display: none;
}

.navigation-page {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
}

.page-selected-navigation {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

.page-selected-navigation .navigation-page {
    display: block;
}

.points-page {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.page-selected-points {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.page-selected-points .points-page {
    display: block;
}

.points-list {
    margin: 0;
    padding: 0;
}

.cell {
    display: block;
    padding: 0 15px;
    font-size: 0.9em;
    background: #fff;
    height: 45px;
    line-height: 45px;
    position: relative;;
    border-bottom: 1px solid #ddd;
}

.cell:first-child {
    border-top: 1px solid #ddd;
}

.cell:last-child {
    margin-bottom: 0;
}

.point-details {
    background: #f6f6f6;
    font-size: 0.75em;
    padding: 0 15px;
    height: 42px;
    border-bottom: 1px solid #ddd;
    line-height: 20px;
}

.point-detail {
    margin: 0;
    padding: 0;
}

.chosen-for-navigation .cell {
    background-color: rgba(0, 122, 255, 0.2);
}

.no-navigation-points-available {
    text-align: center;
}

.point .cell {
    border: none;
}

.point h3 {
    margin: 0;
    font-weight: normal;
    font-size: 1.1em;
}

.point-controls {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.point-controls button {
    background: transparent;
    border: none;
    margin: 0 15px 0 0;
    padding: 0 0;
    font-size: 0.90em;
    -webkit-tap-highlight-color: transparent;
}

.control-remove {
    color: #B22400;
}

.btn {
    display: block;
    text-transform: uppercase;
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.btn-standalone {
    width: 85%;
    min-height: 35px;
    line-height: 22px;
    font-size: 0.9em;
    padding: 10px 0;
}

input[type="text"] {
    border: 1px solid #aaa;
    padding: 4px;
    margin: 0;
    font-size: 0.9em;
}

input[type="text"]:focus {
    outline: 0;
    box-shadow: 0 0 5px #007aff;
}

.point-form-trigger {
    margin: 35px auto 10px;
}

.navigation-point-disregard {
    margin: 15px auto 10px;
}

.point-form-overlay {
    position: absolute;
    top: -1000px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0);

    -webkit-transition: background-color 1.5s;
    transition: background-color 1.5s;
}

.point-form-visible .point-form-overlay {
    top: 0;
    background-color: rgba(0,0,0,.4);
}

.point-form {
    box-sizing: border-box;
    width: 85%;
    padding: 0 15px;
    margin: -1000px auto 0;
    height: 70px;
    background: #eee;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    overflow: hidden;

    -webkit-transition: margin-top 1s;
    transition: margin-top 1s;
}

.point-form-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;

    -webkit-transition: height 0.2s;
    transition: height 0.2s;
}

.point-form-message {
    height: 0;

    -webkit-transition: height 0.2s;
    transition: height 0.2s;
}

.message-visible .point-form-inputs {
    height: 35px;
}

.message-visible .point-form-message {
    height: 35px;
    line-height: 35px;
    font-size: 0.9em;
}

.point-form-visible .point-form {
    margin-top: 0;
}

.new-point-name {
    max-width: 50%;
    width: 300px;
}

.point-form input[type="submit"], .point-form-cancel {
    font-size: 0.85em;
    height: 25px;
    margin-left: 6px;
    line-height: 25px;
}

.navigation-box {
    position: relative;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    width: 100%;
    height: 0;
    padding-top: 100%;
}

.navigation-box-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (min-width: 375px) {
    .point-form-trigger {
        height: 35px;
        padding: 0;
        line-height: 35px;
    }
}
